{
  "ConnectionStrings": {
    "DefaultConnection": "Host=localhost;Port=54321;Username=postgres;Password=password_here;Database=change;"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
